.gastos{
    border-radius: 30px;
    height: 60px;
    width: 300px;
}

@media (max-width: 350px)
{
    .gastos {
        width: 250px;
    }
}

@media (max-width: 250px)
{
    .gastos {
        width: 200px;
    }
}